body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgb(228, 228, 108);
  }
  .container {
	margin: auto;
	width: 60%;
  }
  img {
	display: inline-block;
  }
  .caption {
	display: block;
	text-align: center;
  }
  .garments {
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
  }
  
  .hidden {
	display: none;
  }
  .field label {
	display: block;
	width: 5em;
	margin-top: 0.5em;
  }
  .mt1 {
	margin-top: 1em;
  }
  .message {
	margin-top: 1em;
	padding: 1em;
	background-color: lightsalmon;
  }
  .gams{
	  display: flex;
	  flex-wrap: wrap;
	  padding-left: 1em;
	  margin: 0.25em;
	  border-radius: 0.5em;
	  flex : 1;
	  background-color: beige;
	  
  }